<nav class="homediv">
<h1>MoesJokes</h1>

<form action="/login"method="post" class="login">
   <input class="myinput"  type="text" name="username" placeholder="username" id="">
   <input class="myinput" type="password" name="password" placeholder="password" id="">
   <input class="myinput" type="submit" value="login">
</form>
</nav>

<div class="form">
<div>
<h3>Sign up </h3>
</div>
 <form action="/signup" method="post">
 <div> 
     <input type="text" name="firstname" placeholder="first name" id="">
     <input type="text" name="lastname" placeholder="last name" id="">
     </div>
     <div>
     <input type="date" name="birthday" placeholder="mm/dd/yr" id="">
     <input type="text" name="email" placeholder="valid-email" id="">
     </div>
     <div>
     <input type="text" name="username" placeholder="username" id="">
     <input type="password" name="password" placeholder="create-password" id="">
     </div>
     <input type="submit" value="signup">
</form>
  
</div>
