<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>socialmedia</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js" defer></script>
</head>
<body>

<% if session[:user_id]%>
<nav class="nav">
<a href="/logout">Logout</a>
<a href="/profile">Profile</a>
<a href="/usersposts">Posts</a>
<a href="/users">Users</a>
<a href="/setting">Setting</a>
</nav>
<%end%>
    <%= yield %>

</body>
</html>